::selection { 
  text-shadow: none;
  
  color: #fff;
  background-color: #00f;
}

html {
  font-size: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth; 
  }
}

*,
*::before,
*::after,
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Font Stack", sans-serif, serif, monospace, cursive, fantasy;

  text-rendering: geometricPrecision;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-color-darker);
}

img {
  height: auto;
  max-width: 100%;
  
  user-select: none;
}

button {
  color: inherit;
}

a, button {
  touch-action: manipulation;
}

svg {
  height: 100%;
  width: 100%;
  
  fill: currentColor;
  
  pointer-events: none;
}

iframe, video {
  height: 100%;
  width: 100%
}

/********Tamanhos e cores**********/

h1{
    font-size: 36px;
    font-family: "Orbitron SemiBold", Eras Bolt ITC, sans-serif;
    letter-spacing: 0.15rem;
}

h2{
    font-size: 21px;
    font-family: "Anta Regular", Cascadia Mono Regular, sans-serif;
    letter-spacing: 0.08rem;
}

h3{
    font-size: 18px;
    font-family: "Anta Regular", Cascadia Mono Regular, sans-serif;
    letter-spacing: 0.06rem;
}

h4, h5, h6{
    font-size: 14px;
    font-family: "Anta Regular", Cascadia Mono Regular, sans-serif;
    letter-spacing: 0.03rem;
}
h1{
  color: var(--Title-color);
}
h2, h3, h4, h5, h6{
  color: var(--Subtitle-color);
}
p{
    font-size: 12px;
    font-family: "Exo Regular", Roboto Flex Regular, sans-serif;
    color: var(--body-color);
}

a{
    font-size: 12px;
    font-family: "Exo Italic", Roboto Flex Italic, sans-serif;
    color: var(--links-color);
}
a:hover, a:active, a.active{
  color: var(--clicked-link-collor);
}

/*********Ajustes Desktop**************/

@media (min-width: 992px) {
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 3rem;
    }
    h4, h5, h6{
        font-size: 2rem;
    }
    p, a{
        font-size: 1rem;
    }
}

:root {
  --header-height: 60px;

/********Estilos cores***********/

  --black-color:#000000;
  --black-color-light:#141414;
  --black-color-lightest:#1e1e1e;
  --white-color:#ffffff;
  --white-color-dark:#efefef;
  --white-color-darker:#dbdbdb;
  --body-color:#382105;
  --Title-color:#110901;
  --Subtitle-color:#241404;
  --links-color:#281f18;

  --button-collor:#ff9700;

  --clicked-link-collor:#685749;
  --hover-button-collor:#ffb452;

}
/********Z tool***********/
:root {
  --z-tooltip: 10;
  --z-fixed: 100;
}

.pageWidth{
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 16px;
}

#topHeader {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--white-color-dark);
  box-shadow: 0 2px 16px var(--black-color);
  z-index: var(--z-fixed);
}

#mainMenu {
  height: var(--header-height);
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 16px;
}
