::selection { 
  text-shadow: none;
  
  color: #fff;
  background-color: #00f;
}

html {
  font-size: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth; 
  }
}

*,
*::before,
*::after,
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Orbitron SemiBold", Eras Bolt ITC, sans-serif;
  letter-spacing: 0.15rem;
  text-rendering: geometricPrecision;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-color-darker);
}

header {
  font-size: 36px;
  font-family: "Orbitron SemiBold", Eras Bolt ITC, sans-serif;
  letter-spacing: 0.15rem;
}

img {
  height: auto;
  max-width: 100%;
  
  user-select: none;
}

button {
  color: inherit;
}

a, button {
  touch-action: manipulation;
}

svg {
  height: 100%;
  width: 100%;
  
  fill: currentColor;
  
  pointer-events: none;
}

iframe, video {
  height: 100%;
  width: 100%
}

/********Tamanhos e cores**********/

h1{
    font-size: 36px;
    font-family: "Orbitron SemiBold", Eras Bolt ITC, sans-serif;
    letter-spacing: 0.15rem;
}

h2{
    font-size: 21px;
    font-family: "Anta Regular", Cascadia Mono Regular, sans-serif;
    letter-spacing: 0.08rem;
}

h3{
    font-size: 18px;
    font-family: "Anta Regular", Cascadia Mono Regular, sans-serif;
    letter-spacing: 0.06rem;
}

h4, h5, h6{
    font-size: 14px;
    font-family: "Anta Regular", Cascadia Mono Regular, sans-serif;
    letter-spacing: 0.03rem;
}
h1{
  color: var(--Title-color);
}
h2, h3, h4, h5, h6{
  color: var(--Subtitle-color);
}
p{
    font-size: 12px;
    font-family: "Exo Regular", Roboto Flex Regular, sans-serif;
    color: var(--body-color);
}

small {
  font-size: 0.8rem;
}

strong {
  font-weight:700px ;
}

medium {
  font-weight: 500px;
}

ul {
  list-style: none;
}

a{
    font-size: 12px;
    font-family: "Exo Italic", Roboto Flex Italic, sans-serif;
    color: var(--links-color);
    text-decoration: none;
}
a:hover, a:active, a.active{
  color: var(--hover-button-collor);
  cursor: pointer;
}

.link{
  color: var(--clicked-link-collor);
}

/********Espaçadores***********/

.space-S{
  height: 30px;
}

.space-M{
  height: 90px;
}

.space-XL {
  height: 120px;
}

/*********Ajustes Desktop**************/

@media (min-width: 992px) {
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 2.5rem;
    }
    h3{
        font-size: 2rem;
    }
    h4, h5, h6{
        font-size: 1rem;
    }
    p, a{
        font-size: 1rem;
    }
}

.Espaçamento_h2{
  margin-top: 3rem;
}

.Espaçamento_p{
  margin-top: 1rem;
}

:root {
  --header-height: 60px;

/********Estilos cores***********/

  --black-color:#000000;
  --black-color-light:#141414;
  --black-color-lightest:#1e1e1e;
  --white-color:#ffffff;
  --white-color-dark:#efefef;
  --white-color-darker:#dbdbdb;
  --body-color:#382105;
  --Title-color:#110901;
  --Subtitle-color:#241404;
  --links-color:#281f18;

  --light-color:#ff9700;

  --button-collor:#ff9700;

  --clicked-link-collor:#ff9700;
  --hover-button-collor:#ffb452;

  --card-member-collor: #7c4f0d;
  --card-member-hover-collor: #442d0e;

}

/*******pesos de letras********/
:root {
  --font-regular: 400;
  --font-semi-bold: 600;
}


/********Z tool***********/
:root {
  --z-tooltip: 10;
  --z-fixed: 100;
}

.pageWidth{
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 16px;
}

#topHeader {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: var(--white-color-dark);
  box-shadow: 0 2px 16px var(--light-color);
  z-index: var(--z-fixed);
}

#mainMenu {
  height: var(--header-height);
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 16px;
}

/******burger menu*******/

.nav__burger,
.nav__close {
  color: var(--button-collor);
}

.navAction {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headerLogo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

#headerLogo img {
  width: 3rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 2rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

  @media screen and (max-width: 992px) {
    .nav__menu {
      position: absolute;
      left: 0;
      top: 3.5rem;
      width: 100%;
      height: calc(100vh - 3.5rem);
      overflow: auto;
      pointer-events: none;
      opacity: 0;
      transition: height .4s, opacity .3s;

    }

  .nav__menu::-webkit-scrollbar {
    width: 0;
  }

  .nav__list {
    background-color: var(--white-color-dark);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--body-color);
  background-color: var(--white-color-dark);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s ;
}

.nav__link:hover {
  color: var(--hover-button-collor);
}

.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

@media screen and (min-width: 992px) {
  #topHeader {
    margin-inline: auto;
  }

  #mainMenu {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }

  @media screen and (min-width: 992px) {
  }
  }

  #mainContent {
    margin-top: var(--header-height)!important;
  }

   @media screen {
    #mainContent {
      margin-top:4.5rem !important;
    }
   }    

  @media screen and (min-width: 992px) {
    #mainContent {
      margin-top:7rem !important;
    }    
  }
 /*********************************Divisória******************************/

 .Divisoria_Texto_Imagem {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
}

.Divisoria_Imagem {
  flex: 1;
}

.Divisoria_Imagem > img {
  width: 110%;
  height: auto;
  border-radius: 12px;
}

.Divisoria_Texto {
  flex: 1;
}

@media screen and (max-width: 992px) {
  .Divisoria_Texto_Imagem {
    flex-direction: column;
  }
}

  /*********************************Cards******************************/

.container {
  --gap: 50px;
  padding: 2rem;
}

.flex {
  display: flex;
  flex-direction: row;       
  align-items: flex-start;  
  gap: 10px;                 
  margin-top: 20px;
  justify-content: center;
  filter: url(#round);
}
.flex-column {
  flex-direction: column;
  align-items: center;
  width: auto;            
}
.bg-primary-color {
  background-color: var(--card-member-collor);
}

.hexagon {
  height: 550px;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: var(--card-member-collor);
}

.container article:last-child {
  margin-top: 310px;
  margin-left: -140px;
}

.container article{
  --gap: 2em;
  line-height: 1.5;
  padding: 3em;
}
.container article > img{
  width: 12rem;
  border-radius: 8rem;
}

.hexagon .Card_Image {
  width: 12rem !important;
  height: 12rem !important;
  border-radius: 8rem !important;
  object-fit: cover;
}

.resize:hover{
  transition: transform 200ms ease-in-out;
  transform: scale(1.1);
  background-color: var(--card-member-hover-collor);
}

.learn-more-button{
  border: none;
  border-radius: 40px;
  letter-spacing: 1px;
  padding-block: 0.79em;
  padding-inline: 2.3em;
  margin: auto;
  margin-top: 2rem;
  transition: backgound-color 200ms ease-in-out;
  background-color: var(--button-collor);
  color: var(--white-color);
  font-size: medium;
  font-weight: bold;
}

.learn-more-button:hover{
  background-color: var(--hover-button-collor);
  color: var(--black-color-light);
  cursor: pointer;
}

.white_text{
  color: var(--white-color);
}

.Icons_card{
  margin-top: 1rem;
  width: 3rem !important;              
  height: 3rem !important;
  color: var(--light-color);
  filter: brightness(0) invert(1);
}

.Icons_card > img{
  width: 3rem !important;
  height: 3rem !important;
}

.Icons_card:hover{
  cursor: pointer;
  filter: invert(75%) sepia(60%) saturate(300%) hue-rotate(330deg) brightness(1.05);
}

.text_center {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .container .flex {
    flex-direction: column;
    max-width: 100%;
    min-width: 80%;
    align-items: center;
  }
  .hexagon {
    clip-path: none;        
    aspect-ratio: auto;       
    height: auto;            
    border-radius: 8px;      
    width: 60%;             
  }
  .container article:last-child {
    margin-top: 30px;
    margin-left: 0;
  }

  .container article:first-child {
    border-radius: 12px;
  }
}
